In [2]:
print("Hello World")

Hello World

In [6]:
print("Hello","World",'Yousef')
print("BFCAI")

Hello World Yousef
BFCAI

In [8]:
x = 5
y = 9
print(x + y)

14

In [11]:
x, y = 2, 8
print(x + y)

10

In [15]:
z = input("Enter a number: ")
print(z)

Enter a number: 9
9

In [17]:
type(x)

int

In [19]:
type(y)

int

In [21]:
type(z)

str

In [23]:
z = int(input("Enter a number: "))
print(z)
print(type(z))

Enter a number: 9
9
<class 'int'>

In [27]:
myname = "yousef"
myname2 = 'elbaroudy'
print(myname,myname2)
print(type(myname),type(myname2))

yousef elbaroudy
<class 'str'> <class 'str'>

In [29]:
float_value = 4.5
print(type(float_value))

<class 'float'>

In [34]:
# + - * / // % x**2
"""
asdasd
asdsad
"""
# kkkkk
print(6 / 4)

1.5

In [37]:
lst1 = [1,2,3,4,5,6]
print(lst1)
print(type(lst1))

[1, 2, 3, 4, 5, 6]
<class 'list'>

In [39]:
lst2 = [1,3.25, 'Yousef',[10,11,12]]
print(lst2)

[1, 3.25, 'Yousef', [10, 11, 12]]

In [42]:
lst3 = list([9,4,2,1])
print(lst3)

[9, 4, 2, 1]

In [47]:
print(lst1[2])
lst1[1]
lst1[0]

3

1

In [49]:
len(lst2)

4

In [54]:
lst2[-4]

1

In [57]:
lst2[3] = 2
lst2

[1, 3.25, 'Yousef', 2]

In [59]:
tup1 = (1,2,3,4)
tup1

(1, 2, 3, 4)

In [62]:
tup1[1]

2

In [65]:
tup1[1] = 9

TypeError: 'tuple' object does not support item assignment

In [71]:
tup2 = (1,6.25 ,[1,2,3])
tup2[2][0] = 2
tup2

(1, 6.25, [2, 2, 3])

In [73]:
lst4 = [6,2,1,9,10]
lst4

[6, 2, 1, 9, 10]

In [76]:
list(reversed(lst4))

[10, 9, 1, 2, 6]

In [80]:
x, y ,z = map(int, input("Enter three numbers: ").split())
print(x, y, z)

Enter three numbers: 20 25 30
20 25 30

In [82]:
a, b, c = input("Enter three numbers: ").split()
print(type(a),type(b),type(c))
print(type(x),type(y),type(z))

Enter three numbers: 30 50 90
<class 'str'> <class 'str'> <class 'str'>
<class 'int'> <class 'int'> <class 'int'>

In [84]:
"hello world".split()

['hello', 'world']

In [95]:
lst3
lst3[0:3:2]

[9, 2]

In [102]:
print(lst3)
lst3[-1:-3:-1]

[9, 4, 2, 1]

[1, 2]

In [110]:
lst1 = [1,2,3,4,5,6]
print(lst1)
lst9 = lst1[:]
print(lst9)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [112]:
lst1[0] = 8
print(lst1)
print(lst9)

[8, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [113]:
lst10 = lst1.copy()

In [118]:
lst1[0] = 15
print(lst1,lst10,lst9)

[15, 2, 3, 4, 5, 6] [8, 2, 3, 4, 5, 6] [1, 2, 3, 4, 5, 6]

In [124]:
dict1 = {'Egypt':'Cairo', "Saudi Arabia":'Ryiadh', 10:1, 16:[1,2]}
print(dict1)

{'Egypt': 'Cairo', 'Saudi Arabia': 'Ryiadh', 10: 1, 16: [1, 2]}

In [135]:
list(dict1.items())
dict1.keys()

dict_keys(['Egypt', 'Saudi Arabia', 10, 16])

In [139]:
dict1[19] = 49
dict1

{'Egypt': 'Cairo', 'Saudi Arabia': 'Ryiadh', 10: 1, 16: [1, 2], 19: 49}

In [142]:
st1 = {1,2,2,3,4,5,5,6,7,8}
st1

{1, 2, 3, 4, 5, 6, 7, 8}

In [145]:
ls1 = [x**2 for x in range(1,9)]
ls1

[1, 4, 9, 16, 25, 36, 49, 64]

In [150]:
tup2 = tuple(x for x in range(1,9))
tup2

(1, 2, 3, 4, 5, 6, 7, 8)

In [154]:
dict2 = {x:y**2 for x,y in zip(range(1,9),range(1,9))}
dict2

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [160]:
# check if x greater than 5 or not
if x < 5 or y > 2:
    print('yes')
else:
    print('no')

yes

In [165]:
x = 20
while x > 5:
    print(x)
    x -= 1
else:
    print("Hello")

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
Hello

In [176]:
for x in range(len(lst1)):
    print(x)

0
1
2
3
4
5

In [178]:
def myfunc(x,y,z):
    return x+y+z

print(myfunc(1,2,3))

6

In [180]:
# task 1
r = float(input("Enter the radius: "))
PI = 3.14
diameter = 2*r
circum = 2 * PI * r
area = PI * r ** 2
print(diameter,circum,area)

Enter the radius: 1
2.0 6.28 3.14

In [182]:
n = input("Enter a number: ")
result = int(n) + int(n + n) + int(n + n + n)
print(result)

Enter a number: 5
615