In [1]:
# install pandas

In [2]:
# !pip install pandas

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.Series([.25, .5,.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [6]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
data[1]

0.5

In [11]:
data = pd.Series([.25, .5,.75,1.0],
                index = ['a', 'b', 'c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [12]:
data['b']

0.5

In [15]:
data = pd.Series([.25, .5,.75,1.0],
                index = [2, 5, 3,7])
data

2    0.25
5    5.00
3    0.75
7    1.00
dtype: float64

In [16]:
data[5]

5.0

In [17]:
population_dic ={
    'California' : 35555,
    'Texas': 466666,
    'New Work': 57777,
    'Florida' : 897265,
    "Illionis": 7213345
}

population = pd.Series(population_dic)
population

California      35555
Texas          466666
New Work        57777
Florida        897265
Illionis      7213345
dtype: int64

In [18]:
population['California']

35555

In [19]:
population['California':'Florida']

California     35555
Texas         466666
New Work       57777
Florida       897265
dtype: int64

In [20]:
data = pd.Series([2, 4, 6])
data

0    2
1    4
2    6
dtype: int64

In [22]:
pd.Series(5, index=[100,200,300,400])

100    5
200    5
300    5
400    5
dtype: int64

In [23]:
pd.Series({2:'a',1:'b',3:'c'})

2    a
1    b
3    c
dtype: object

In [24]:
pd.Series({2:'a',1:'b',3:'c'}, index = [3,2])

3    c
2    a
dtype: object

In [25]:
area_dic ={
    'California' : 35555,
    'Texas': 466666,
    'New Work': 57777,
    'Florida' : 897265,
    "Illionis": 7213345
}

area = pd.Series(area_dic)
area

California      35555
Texas          466666
New Work        57777
Florida        897265
Illionis      7213345
dtype: int64

In [26]:
states = pd.DataFrame({'population':population,
                      'area': area})
states

            population     area
California       35555    35555
Texas           466666   466666
New Work         57777    57777
Florida         897265   897265
Illionis       7213345  7213345

In [27]:
states.index

Index(['California', 'Texas', 'New Work', 'Florida', 'Illionis'], dtype='object')

In [28]:
states.columns

Index(['population', 'area'], dtype='object')

In [29]:
states['area']

California      35555
Texas          466666
New Work        57777
Florida        897265
Illionis      7213345
Name: area, dtype: int64

In [31]:
states['population']

California      35555
Texas          466666
New Work        57777
Florida        897265
Illionis      7213345
Name: population, dtype: int64

In [32]:
pd.DataFrame(population, columns=['population'])

            population
California       35555
Texas           466666
New Work         57777
Florida         897265
Illionis       7213345

In [33]:
data = [{'a':i , 'b':2*i}
       for i in range(3)]
data

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [34]:
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [35]:
pd.DataFrame([{'a':1, 'b':2},{'b':3, 'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [36]:
pd.DataFrame(np.random.rand(3,2),
            columns=['foo','bar'],
            index= ['a','b','c'])

        foo       bar
a  0.952809  0.444588
b  0.414734  0.477788
c  0.846395  0.831501

In [47]:
ind = pd.Index([2,3,5,7,11])
ind

Index([2, 3, 5, 7, 11], dtype='int64')

In [48]:
# index as immutable

In [49]:
ind[1]

3

In [50]:
ind[::2]

Index([2, 5, 11], dtype='int64')

In [51]:
print(ind.size , ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [52]:
ind[1] = 0

TypeError: Index does not support mutable operations

In [53]:
# index as order
indA = pd.Index([1,3,5,7,9])
indB = pd.Index([2,3,5,7,11])

In [54]:
indA & indB # intersection

Index([0, 3, 5, 7, 9], dtype='int64')

In [55]:
indA | indB # union

Index([3, 3, 5, 7, 11], dtype='int64')

In [56]:
indA ^ indB # symmetric difference

Index([3, 0, 0, 0, 2], dtype='int64')